/* Root color scheme with google MDC --------------------------------------------------------------------------*/

:root {
  /* --mdc-theme-primary: #fcb8ab; */
  --mdc-theme-secondary: #6200ee;
}

/* Basic Layout Components ------------------------------------------------------------------------------------*/

.mdc-card {
  width: 410px;
  padding: 20px;
  margin: 20px;
}

h2 {
  font-family: "Roboto";
  margin: 0px;
  font-weight: 100;
  font-size: 28px;
}

#create {
  background-color: blue;
}

#password {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.settings {
  border-radius: 50%;
}

.button-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#anchor {
  position: relative;
}

#icon {
  padding: 5px;
}

#icon {
  color: #6200ee;
  margin-left: 10px;
}

/* Setting's Menu ------------------------------------------------------------------------------------------------*/

#settings-menu {
  width: 250px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characters-menu {
  font-family: "Roboto";
}

h4 {
  margin: 8px 0px;
  font-family: "Roboto";
}

#length-menu {
  width: 220px;
}

.chars-menu-item {
  width: 200px;
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.chars-menu-item p {
  margin: 11px 0px;
}

ul.mdc-list {
  padding: 0px;
}
.mdc-text-field--outlined {
  height: 30px;
}

#text-field-hero-input {
  width: 30px;
  height: 100%;
  text-align: right;
}

#length-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* End -------------------------------------------------------------------------------------------------------*/
